.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: black;
    width: 640px;
    height: 640px;
    padding: 10px;
}

.block {
    background-color: white;
    width: 30px;
    height: 30px;
}